.body {
    max-width: 1536px;
    max-height: 4148.5px;
}

.scroll {
    position: fixed;
    z-index: 3;
    margin-left: 10%;
    bottom: 35px;
}

.banner {
    width: 100%;
    height: 1000px;
    background-image: url('./img/background/bg_00.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.container .navbar-nav {
    left: -125px;
    margin-top: -5px;
    font-family: 'League Spartan';
    font-size: 20px;
    gap: 64px;
    position: relative;
    z-index: 1;
}

.caption {
    margin-top: 256.5px;
    margin-left: 8%;
}

.caption .header__title {
    position: absolute;
    width: 181px;
    height: 43px;
    left: 10%;
    top: 305.5px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 43px;
    /* identical to box height */
    letter-spacing: 0.08em;
    -webkit-text-stroke: 0.005px #ffffff;
    color: transparent;
}

.caption .header__subtitle {
    position: absolute;
    width: 506px;
    height: 27px;
    left: 10%;
    top: 354.5px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}

.caption .menu__logo {
    margin-right: 10px;
}

.about_me {
    background-color: white;
    background-size: contain;
    position: relative;
    object-position: center;
}

.backdrop {
    display: block;
}

.backdrop .display__left {
    margin-top: -630px;
}

.backdrop .display__right {
    position: relative;
    z-index: 2;
    margin-top: -543px;
    margin-left: 890px;
}

.backdrop .display__selfie {
    margin-top: -1385px;
    margin-left: 90px;
}

.introduction {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    margin-top: -600px;
    margin-left: 685px;
}

.introduction .header__title {
    color: red;
    font-size: 38px;
    font-weight: bolder;
}

.introduction .header__artical {
    margin-top: -35px;
    font-size: 28px;
}

.button__download {
    margin-top: 50px;
}
