/* .background {
    max-width: 1519.2px;
    width: 100%;
    height: 4376.6px; */
/* border: 5px solid black; */
/* background-color: black; */
/* background-image: url('./img/background/bg_long.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

/* --------------------------------- *\
    Globel
\* --------------------------------- */
* {
    box-sizing: border-box;
    position: relative;
}

/* --------------------------------- *\
    Layout
\* --------------------------------- */

/* container */
.container {
    width: 992px;
    margin: 0 auto;
    display: block;
    border: 1px solid #000;
    height: 100%;
}
/* grid */
.row {
    border: 1px solid blue;
    margin-left: -16px;
    margin-right: -16px;
}
.row::after {
    content: '';
    display: block;
    clear: both;
}
.col-1-2,.col-1-3{
    float: left;
    border: 1px solid red;
    padding-left: 16px;
    padding-right: 16px;
}
.col-1-2{
    width: 50%;
}
.col-1-3{
    width:33.3%;
}

/* --------------------------------- *\
    Component
\* --------------------------------- */

/* navbar */
.navbar {
    height: 64px;
    background-color: #ccc;
}
/* jumbotron */
.jumbotron {
    height: 640px;
    background-color: #7d7dc5;
}
/* hero */
.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    border: 1px solid #000;
}

/* card */
.card {
    height: 300px;
    background-color: pink;
}

.cmpt-2{
    margin-top: 138px;
    margin-bottom: 138px;
}